.MainLayout {
    display: flex;
}

.MenuLateral {
    width: 250px;
    height: 100vh;
    background-color: #003366;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    transition: width 0.3s;
}

.MenuLateral:hover {
    width: 300px;
}

.MenuLateral-Logo img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    padding: 5px;
}

.MenuLateral-Menu {
    margin-top: 30px;
    width: 100%;
}

.MenuLateral-Menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.MenuLateral-Menu ul li {
    width: 100%;
}

.MenuLateral-Menu ul li a {
    display: block;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.MenuLateral-Menu ul li a:hover {
    background-color: #34495e;
    color: #1abc9c; 
}

.MenuLateral-Menu ul li a.active {
    background-color: #1abc9c;
    color: #2c3e50; 
}

.MenuLateral-Footer {
    margin-top: auto;
    padding: 20px;
    color: #ecf0f1;
    font-size: 14px;
    text-align: center;
}

.Content {
    margin-left: 250px; /* Para compensar a largura da sidebar */
    padding: 20px;
    width: 100%;
}